@{
  Layout = "_Layout";
}

@using TravelClient.Models;
@model IEnumerable<TravelClient.Models.Destination>

<div class="jumbotron">
    <h2 class="display-4"> Destinations</h2>
</div>

 <div class="searchheader">
    <div class="search">
        <h3>Search Destinations</h3>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
      <form asp-controller="Destinations" asp-action="Search" method="get" class="form-inline my-2 my-lg-0">
          <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Seattle, Washington" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="searchheaderbuttons">
       <form asp-controller="Destinations" asp-action="Search" method="get">
         <input name="searchString" type="hidden" value="review">
        <input class="btn btn-primary" type="submit" value="Most Reviewed" />
      </form>
    </div>
    <div class="searchheaderbuttons">
       <form asp-controller="Destinations" asp-action="Search" method="get">
         <input name="searchString" type="hidden" value="rating">
        <input class="btn btn-primary" type="submit" value="Highest Rated" />
      </form>
    </div>
  </div>
 <br>
<div class='content'>
  @if(Model.Any())
  {
    int j = 0;
    <table class="table table-striped">
      <tr>
        <th>№</th>
        <th>City</th>
        <th>Country</th>
      </tr>
      @foreach (Destination destination in Model)
      {
        j++;
        <tr>
          <td>@j</td>
          <td>@Html.ActionLink($"{destination.City}",  "Details", new { id = destination.DestinationId })</td>
          <td>@destination.Country</td>
        </tr>
      }
    </table>
  }
  else
  {
      <h3>No destinations available</h3>
  }
</div>

<div class='footer'>
  <div>@Html.ActionLink("Add an destination", "Create")</div>
</div>