@{
  Layout = "_Layout";
}

@using TravelClient.Models;
@model IEnumerable<TravelClient.Models.Destination>

<h1>Destinations</h1>
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class='content'>
  @if(Model.Any())
  {
    <ul>
    @foreach(Destination destination in Model)
    {
      <li>@Html.ActionLink($"{destination.Country}, {destination.City}", "Details", new { id = destination.DestinationId })</li>
    }
    </ul>
  }
  else
  {
      <h3>No destinations available</h3>
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Add an destination", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>